.hash-image {
    height: 1200px;
    position: relative;
}
.hash-image-body{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.hash-image-fur {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.hash-image-top {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.hash-image-accessories {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}